{% extends 'base.html.twig' %}

{% block title %}Hello RegistrierungsController!
{% endblock %}

{% block body %}
	<br>
	<div class="container">

		<h2>Registrieren</h2>
		{{form(regform)}}
		</div>

	{% endblock %}
